*{
    margin: 0;
    padding: 0;
}
.grid-container{
    display: grid;
    /* grid-template-columns: 200px 200px; */
    /* grid-template-rows: 100px 100px; */
    /* grid-template-columns: 1fr 2fr 3fr; */
    /* grid-gap: 10px; */
    /* gap:10px; */
    /* grid-template-columns: repeat(auto-fill, minmax(200px,1fr)); */
    grid-template-columns: repeat(5,1fr);
    gap: 2px;
}
.grid-item{
    border: 1px solid red;
}

.grid-item img{
    width: 100%;
    height: auto;
}

@media only screen and (max-width:1312px){
    .grid-container{
        grid-template-columns: repeat(3,1fr);
    }
}

@media only screen and (max-width:1063px){
    .grid-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media only screen and (max-width:510px){
    .grid-container{
        grid-template-columns: repeat(1,1fr);
    }
}